* {
    box-sizing: border-box;
    /* Estilo de index.html*/
}
.logo {
    cursor: pointer;
    height: 125px;
    padding: 0;
}
header {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
@media(max-width:629px){
    header{
        top: 0;
        display: inline;
        justify-content: space-between;
        align-items: center;
        position: sticky;   /* PREGUNTAR SI SE PUEDE OPTIMIZAR LA SINTAXIS*/
        overflow: auto;
    }
}
#links_paginas li  {
    display: inline-block;
    padding: 0 30px;

}
#links_paginas li a {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    transition: all 0.3s ease 0s;
}
#boton_pedidos{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    padding: 9px 25px;

    background-color: rgb(177, 20, 20);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
#menu {
    font-family: 'Rye', cursive;
    text-align: center;
    font-size: 26px;
    color: firebrick;
}
#lista_menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
#lista_menu li {
    list-style: none;
    padding: 9px;
    max-width: 278px; /* ES EL WIDTH DE .ITEM_MENU */
}

.lista_menu_descripcion{
    justify-items: center;
    padding: 0px; /* AGREGUE ESTA LÃNEA */
}
.lista_menu_descripcion li {
    list-style-type: none;
}
#lista_menu li span{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: gray;
}
.item_menu{
    width: 260px;
    height: 260px;
    border-radius: 12px;
    overflow: hidden;
}
.item_menu:hover{
    transform: scale(1.15, 1.15);
}
#footer {
    padding: 12px 0;
    width: 100%;
    text-align: center;
    font-family: 'Rye', cursive;
    font-size: 10px;
    background-image: linear-gradient(to bottom, rgb(141, 5, 5) , rgb(248, 36, 8));
    
}

/* Estilo de contacto.hmtl */
#form_contacto{
    padding: 1%;
}
#main_contacto_centered{
    margin: auto;
    width: 50%;
    background-color: #f8c740;
    padding: 1%;
}
#opciones_contacto{
    list-style: none;

}
h1{
    font-family: 'Rye', cursive;
    font-size: 28px;
    color: firebrick;

}
#opciones_contacto > li, label{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: white;
    line-height: 2;
}
span{
    font-family: 'Rye', cursive;
    font-size: 18px;
    color: firebrick;
}